// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";

.cards{
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:5px;
}
.container{
  margin: 0 auto;
}

h2 {
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
}

.card-img-top{
  height: 400px;
  border-top-left-radius:14px;
  border-top-right-radius:14px;
}

#banner-typed-text {
  font-family: 'Yusei Magic', sans-serif;
  color: #1EDD7F;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
.animationjs{
  margin: 0 auto;
  width: 135px;
  height: 35px;
  background-color: black;
  padding: 2px 2px;
  border-radius: 4px;
  align-items: center;
}
.card{
  border-radius: 12px;
  // border: solid white;
}