#new_cocktail{
  margin: 0 auto;
  width: 500px;
  height: 250px;
  background-color: #343A40;
  padding: 30px;
}
.form_container {
  padding: 100px;
  font-family: 'Yusei Magic', sans-serif;
  color: white;
  height: 700px;
  margin-top: 0px;
}
// .btn-primary {
//   margin: 20px 200px;
 
// }